*{
  scroll-behavior: smooth ;
}
::-webkit-scrollbar{
  width: 3px;
  background: var(--accent);
}
::-webkit-scrollbar-thumb{
  background: var(--secondary);
  border-radius: 10px;
}
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --primary: #FD4556;
  --secondary: #BD3944;
  --text:#000000;
  --accent: #53212B;
  --background_cc:#FFFBF5;

  --main-padding: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* main{
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
} */
.nav-button{

  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
    text-decoration: none ;
    padding-left: .5rem;
    padding-right: .5rem; 
}
.nav-button:hover{
  background-color: var(--secondary);
  color: var(--background_cc);
}

.shadow{
  filter: invert(10) grayscale(100);
  fill: #53212B;
}
.card-images{
  
  position: absolute;
}
.card-images:nth-child(1){
  
  z-index: 5;
}
.card-images:nth-child(2){
  
  z-index: 4;
}
.card-images:nth-child(3){
  
  z-index: 3;
}
.card-images:nth-child(4){
  
  z-index: 6;
}

.shadow:nth-child(1){
  left: 0.5rem;
  top:0.5rem;
}
.shadow:nth-child(2){
  left:1.5rem;
  top:1.0rem;

}
.shadow:nth-child(3){
  left:2.5rem;
  top:1.5rem;

}